@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*
0 - 600PX            PHONES
600px - 900PX        TABLET PORTRAIT
900PX - 1200PX       TABLET LANDSCAPE
1200PX -1800PX       THIS IS WHERE WE BUILT THE WEBPAGE FOR
1800PX >             BIG DESKTOPS


$breakpoint argument choices:
- Phone
- tab-port
- tab-land
- big-desktop

ORDER OF MEDIA-QUERY: base + typography > general layout + grid > page layout > components

N:B- 1em is equal to 16px. 
The root font-size we change on our html doesnt concern this
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
